@import url('./styles/nav.css');
@import url('./styles/section1.css');
@import url('./styles/section2.css');
@import url('./styles/section3.css');
@import url('./styles/section4.css');
@import url('./styles/section4_1.css');
@import url('./styles/section5.css');
@import url('./styles/footer.css');

@font-face {
  font-family: 'tabk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cafe';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}