footer {
  height: 15vh;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  background-color: rgb(40, 39, 38);
  padding: 20px; /* 내부 여백 조절 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

#contact footer address .image-container {
  display: flex;
  flex-direction: row; /* 가로로 정렬 */
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 50px;
}

#contact footer address .image-container a {
  margin-right: 20px;
  text-decoration: none; 
}

#contact footer address .image-container a img {
  width: 60px; 
  border-radius: 47%; 
}

#contact footer address .image-container a img:hover {
  opacity: 0.6; 
}


footer address .text-container{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: sans;
  font-size: 11px;
  font-weight: 100;
  color: white;
  opacity: 0.8;
}




