.section5 {
  height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  background-color: rgb(255, 249, 243);
  padding: 20px; 
  text-align: center; 
}

.section5__animation {
  margin-bottom: 20px; 
}

.section5__text{
  font-family: tabk;
  font-size: 25px;
}

/* 이미지와 텍스트 관계 조절 */
.section5__text h2 img {
  height: 1em; 
  vertical-align: middle; /* 수직 정렬 */
  margin-left: 5px;
}


